# Brazilian E-Commerce Public Dataset by Olist

In [122]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [123]:
orders= pd.read_csv('C://Users/User/Downloads/olist_orders_dataset.csv')
order_items = pd.read_csv('C://Users/User/Downloads/olist_order_items_dataset.csv')
sellers = pd.read_csv('C://Users/User/Downloads/olist_sellers_dataset.csv')
geolocation = pd.read_csv('C://Users/User/Downloads/olist_geolocation_dataset.csv')
order_reviews = pd.read_csv('C://Users/User/Downloads/olist_order_reviews_dataset.csv')

# Посчитаем опоздание доставки

In [124]:
logistics = orders[['order_id']].copy(deep = True)

In [125]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [126]:
delay = (pd.to_datetime(orders['order_delivered_customer_date']).dt.date - pd.to_datetime(orders['order_estimated_delivery_date']).dt.date).dt.days

In [127]:
delay

0        -8.0
1        -6.0
2       -18.0
3       -13.0
4       -10.0
         ...
99436   -11.0
99437    -2.0
99438    -6.0
99439   -21.0
99440   -18.0
Length: 99441, dtype: float64

In [128]:
logistics['delivery_delay_days'] = delay

In [129]:
logistics.head()

                           order_id  delivery_delay_days
0  e481f51cbdc54678b7cc49136f2d6af7                 -8.0
1  53cdb2fc8bc7dce0b6741e2150273451                 -6.0
2  47770eb9100c2d0c44946d9cf07ec65d                -18.0
3  949d5b44dbf5de918fe9c16f97b45f8a                -13.0
4  ad21c59c0840e6cb83a9ceb5573f8159                -10.0

# 3 Добавим информацию о продавце каждого заказа и его местонахождении

In [130]:
order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [131]:
sellers = sellers.rename(columns={"seller_zip_code_prefix": "geolocation_zip_code_prefix"})

In [132]:
sellers

,seller_id,geolocation_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

разберись с тем, как можно склеивать таблицы в питоне)

Ниже я объединила таблицы sellers и geolocation по общей колонке с кодами продавцов и удалила повторяющиеся значение:

In [133]:
sellers = sellers.set_index('geolocation_zip_code_prefix').join(geolocation.drop_duplicates('geolocation_zip_code_prefix', keep = 'first').set_index('geolocation_zip_code_prefix'), how = 'left')

In [134]:
sellers

,seller_id,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
geolocation_zip_code_prefix,,,,,,,
1001,8602a61d680a10a82cceeeda0d99ea3d,sao paulo,SP,-23.549292,-46.633559,sao paulo,SP
1021,e0487761face83d64fcada2408959a36,sao paulo,SP,-23.545168,-46.632249,sao paulo,SP
1021,dd55f1bb788714a40e7954c3be6df745,sao paulo,SP,-23.545168,-46.632249,sao paulo,SP
1022,09bad886111255c5b5030314fc7f1a4a,sao paulo,SP,-23.544987,-46.633454,sao paulo,SP
1023,f049a72cf58fd31b11f8919cade515e7,sao paulo,SP,-23.542603,-46.630943,sao paulo,SP
...,...,...,...,...,...,...,...
99500,447d377bdb757058acb569025ee18a93,carazinho,RS,-28.289446,-52.794123,carazinho,RS
99500,b1a81260566c1bac3114a6d124413f27,carazinho,RS,-28.289446,-52.794123,carazinho,RS
99670,4fae87d32467e18eb46e4a76a0a0b9ce,ronda alta,RS,-27.783656,-52.807832,ronda alta,RS
99700,968ee78631915a63fef426d6733d7422,erechim,RS,-27.634768,-52.280294,erechim,RS
99730,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS,-27.729373,-52.537491,jacutinga,RS

In [135]:
order_items = order_items.set_index('seller_id').join(sellers.set_index('seller_id'), how = 'left').query('order_item_id == 1')

In [136]:
result = order_items.join(logistics.set_index('order_id'), on = 'order_id', how = 'left')[['order_id','geolocation_lat', 'geolocation_lng', 'delivery_delay_days']].reset_index()

In [137]:
result

,seller_id,order_id,geolocation_lat,geolocation_lng,delivery_delay_days
0,0015a82c2db000af6aaaf3ae2ecb0532,7f39ba4c9052be115350065d07583cac,-23.644439,-46.539885,-13.0
1,0015a82c2db000af6aaaf3ae2ecb0532,9dc8d1a6f16f1b89874c29c9d8d30447,-23.644439,-46.539885,-13.0
2,0015a82c2db000af6aaaf3ae2ecb0532,d455a8cb295653b55abda06d434ab492,-23.644439,-46.539885,-23.0
3,001cca7ae9ae17fb1caed9dfb1094831,006e43460a55bc60c0a437521e426529,-20.297537,-40.400869,-14.0
4,001cca7ae9ae17fb1caed9dfb1094831,00dfb074b5c910fbd08e04691c4b712f,-20.297537,-40.400869,-25.0
...,...,...,...,...,...
98661,ffff564a4f9085cd26170f4732393726,d01c5b46e00bd214519fe9f64bbb2649,-22.895876,-47.079185,NaN
98662,ffff564a4f9085cd26170f4732393726,d437ec1ece70f3e35d2695adfeb8a272,-22.895876,-47.079185,NaN
98663,ffff564a4f9085cd26170f4732393726,d815bd2c2bdd79e4c0e0263caa986d66,-22.895876,-47.079185,NaN
98664,ffff564a4f9085cd26170f4732393726,df537c849af44beef86a7ef7de12126a,-22.895876,-47.079185,-44.0
98665,ffff564a4f9085cd26170f4732393726,fdb3ef83ea6f7bef7d13bdd9b38da661,-22.895876,-47.079185,-46.0

## Сформируем рейтинг магазинов по потенциалу улучшения

In [138]:
result['delivery_delay_days'] = result['delivery_delay_days'].apply(lambda x: x if x > 0 else 0)

In [139]:
result.head()

,seller_id,order_id,geolocation_lat,geolocation_lng,delivery_delay_days
0,0015a82c2db000af6aaaf3ae2ecb0532,7f39ba4c9052be115350065d07583cac,-23.644439,-46.539885,0.0
1,0015a82c2db000af6aaaf3ae2ecb0532,9dc8d1a6f16f1b89874c29c9d8d30447,-23.644439,-46.539885,0.0
2,0015a82c2db000af6aaaf3ae2ecb0532,d455a8cb295653b55abda06d434ab492,-23.644439,-46.539885,0.0
3,001cca7ae9ae17fb1caed9dfb1094831,006e43460a55bc60c0a437521e426529,-20.297537,-40.400869,0.0
4,001cca7ae9ae17fb1caed9dfb1094831,00dfb074b5c910fbd08e04691c4b712f,-20.297537,-40.400869,0.0

Для каждого магазина посчитаем число заказов и среднее время опоздания:

In [140]:
seller_stats = result.groupby(['seller_id']).aggregate({'order_id':'count',
                                                       'delivery_delay_days': 'mean',
                                                       'geolocation_lat': 'first',
                                                       'geolocation_lng': 'first'})\
                                                       .sort_values(['order_id'], ascending = False)

In [141]:
seller_stats.columns = ['заказы','среднее_опоздание', 'geolocation_lat', 'geolocation_lng']

In [142]:
seller_stats

,заказы,среднее_опоздание,geolocation_lat,geolocation_lng
seller_id,,,,
6560211a19b47992c3666cc44a7e94c0,1844,0.402386,-23.651115,-46.755211
4a3ca9315b744ce9f8e9374361493884,1760,1.097727,-21.766477,-48.831547
cc419e0650a3c5ba77189a1882b7556a,1703,0.401644,-23.665703,-46.518082
1f50f920176fa81dab994f9023523100,1389,0.945284,-20.802436,-49.395624
da8622b14eb17ae2831f4ac5b9dab84a,1298,0.769646,-22.716839,-47.657366
...,...,...,...,...
cf6f6bc4df3999b9c6440f124fb2f687,1,0.000000,-23.686980,-46.760727
3289d8c3eef4873f91ce0b1343c0dd58,1,0.000000,-24.011288,-46.418734
97e50a621f8e801f4baf69e08687c192,1,0.000000,-23.581843,-46.601180
31e60bf8d103ce47932a85f5562deb16,1,0.000000,-16.616476,-49.292576
7963e546f34e098b578f9ad102494601,1,0.000000,-23.594563,-46.727835

In [143]:
seller_stats['сколько_опоздал_в_сумме'] = (seller_stats['среднее_опоздание'] * seller_stats['заказы']).round(0)

In [144]:
seller_stats.sort_values(['среднее_опоздание'], ascending = False)

,заказы,среднее_опоздание,geolocation_lat,geolocation_lng,сколько_опоздал_в_сумме
seller_id,,,,,
df683dfda87bf71ac3fc63063fba369d,1,167.000000,-29.203230,-51.351114,167.0
4fb41dff7c50136976d1a5cf004a42e2,3,44.666667,-12.248542,-38.971975,134.0
8e670472e453ba34a379331513d6aab1,1,35.000000,-21.703103,-43.431278,35.0
8629a7efec1aab257e58cda559f03ba7,1,33.000000,-16.706543,-49.268423,33.0
e09887ca8c7bf8a4621ce481820414ef,3,30.333333,-23.525437,-46.413072,91.0
...,...,...,...,...,...
6c6e3d67f969468f3bfd33f827a31222,5,0.000000,-23.386583,-51.905343,0.0
c5e60e39c0f42b8e827daa13cff74afa,5,0.000000,-23.556165,-46.525585,0.0
7aa538dd6e114e503a2e6154ea352253,5,0.000000,-21.123006,-48.949458,0.0
818d28f936e791926d33bcb6ee94ef79,5,0.000000,-23.610418,-46.632633,0.0
7963e546f34e098b578f9ad102494601,1,0.000000,-23.594563,-46.727835,0.0

Посчитаем средний показатель по опозданиям и отсечём магазины с малым числом заказов:

In [145]:
seller_stats.query('заказы > 100')

,заказы,среднее_опоздание,geolocation_lat,geolocation_lng,сколько_опоздал_в_сумме
seller_id,,,,,
6560211a19b47992c3666cc44a7e94c0,1844,0.402386,-23.651115,-46.755211,742.0
4a3ca9315b744ce9f8e9374361493884,1760,1.097727,-21.766477,-48.831547,1932.0
cc419e0650a3c5ba77189a1882b7556a,1703,0.401644,-23.665703,-46.518082,684.0
1f50f920176fa81dab994f9023523100,1389,0.945284,-20.802436,-49.395624,1313.0
da8622b14eb17ae2831f4ac5b9dab84a,1298,0.769646,-22.716839,-47.657366,999.0
...,...,...,...,...,...
00fc707aaaad2d31347cf883cd2dfe10,102,0.274510,-23.377397,-51.931006,28.0
ac3508719a1d8f5b7614b798f70af136,102,0.127451,-29.914669,-51.148441,13.0
b1fc4f64df5a0e8b6913ab38803c57a9,101,0.564356,-22.827327,-43.050440,57.0
3b15288545f8928d3e65a8f949a28291,101,0.663366,-21.766477,-48.831547,67.0
b2479f944e1b90cf8a5de1bbfde284d6,101,1.267327,-21.766477,-48.831547,128.0

In [146]:
mean = seller_stats.query('заказы > 100')['среднее_опоздание'].mean()
#среднее опоздание среди популярных магазинов

In [147]:
seller_stats['среднее_опоздание'].mean()
#среднее опоздание по всем магазинам из данных

0.7567577427875769

In [148]:
mean

0.6512671770776892

Посчитаем метрику: на сколько дней магазин бы опаздывал в сумме, если бы работал на уровне среднестатистического магазина

In [149]:
seller_stats['мог_бы_опоздать_в_сумме'] = (mean * seller_stats['заказы']).round(0)

In [150]:
seller_stats

,заказы,среднее_опоздание,geolocation_lat,geolocation_lng,сколько_опоздал_в_сумме,мог_бы_опоздать_в_сумме
seller_id,,,,,,
6560211a19b47992c3666cc44a7e94c0,1844,0.402386,-23.651115,-46.755211,742.0,1201.0
4a3ca9315b744ce9f8e9374361493884,1760,1.097727,-21.766477,-48.831547,1932.0,1146.0
cc419e0650a3c5ba77189a1882b7556a,1703,0.401644,-23.665703,-46.518082,684.0,1109.0
1f50f920176fa81dab994f9023523100,1389,0.945284,-20.802436,-49.395624,1313.0,905.0
da8622b14eb17ae2831f4ac5b9dab84a,1298,0.769646,-22.716839,-47.657366,999.0,845.0
...,...,...,...,...,...,...
cf6f6bc4df3999b9c6440f124fb2f687,1,0.000000,-23.686980,-46.760727,0.0,1.0
3289d8c3eef4873f91ce0b1343c0dd58,1,0.000000,-24.011288,-46.418734,0.0,1.0
97e50a621f8e801f4baf69e08687c192,1,0.000000,-23.581843,-46.601180,0.0,1.0
31e60bf8d103ce47932a85f5562deb16,1,0.000000,-16.616476,-49.292576,0.0,1.0
7963e546f34e098b578f9ad102494601,1,0.000000,-23.594563,-46.727835,0.0,1.0

Вычтем дни и получим потенциал - выигрыш в сумме дней опозданий

In [151]:
seller_stats['сэкономленные_дни'] = seller_stats['сколько_опоздал_в_сумме'] - seller_stats['мог_бы_опоздать_в_сумме']

In [152]:
#отсортируем магазины по потенциалу улучшения
seller_stats.sort_values(['сэкономленные_дни'], ascending = False, inplace = True)

In [154]:
seller_stats[['заказы', 'среднее_опоздание', 'сэкономленные_дни']].head()

                                  заказы  среднее_опоздание  сэкономленные_дни
seller_id
4a3ca9315b744ce9f8e9374361493884    1760           1.097727              786.0
54965bbe3e4f07ae045b90b0b8541f52      77           7.961039              563.0
2a1348e9addc1af5aaa619b1a3679d6b      52          11.211538              549.0
7c67e1448b00f6e969d365cea6b010ab     975           1.124103              461.0
1f50f920176fa81dab994f9023523100    1389           0.945284              408.0

сохраним данные по магазинам и визуализируем их на карте

In [155]:
seller_stats.to_csv('seller_stats.csv')

Визуализируем результат с помощью kepler.gl
https://kepler.gl/